<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>
	<h1> Log in	</h1>
<!-- Users log in with theri details -->
	<form>
		<label for="username"> Enter username here</label>
		<br>
		<input class = "text" id = "username" placeholder = "Enter username here">
		<br>
		<h3>OR</h3>
		<label for = "emailAddress"> Enter email adress here</label>
		<br>
		<input class ="email" id = "email" placeholder = "Enter email address">
		<br>
		<br>
		<label for= "password"> Enter Password here</label>
		<br>
		<input class="password" id = "pwd" placeholder = "Enter password">
		<br>
		<br>
<!-- log into the website -->
		<a href = "/login" type="POST"> <button type = "submit" class = "logIn"> Log in</button>
	</form>
	<br>
<!-- Reset password -->
	<a href="Reset_password.html">Forgot your password</a>
</body>
</html>
