.home{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("../../Assets/faucet-1684902_1920.jpg");
    opacity: 0.7;
    animation: fadeIn 2s;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2196f3;
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    padding-top: 20px;

    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.7;}
}

div.section{
    grid-column-start: center1;
    grid-column-end: center2;
    grid-row-start: row1-end;
    grid-row-end: fourth-line;
    background-color: royalblue;
}

div.signup {
    grid-column-start: center1;
    grid-column-end: center2;
    grid-row-start: row1-end;
    grid-row-end: 3;

    align-self: stretch;
    transition: height 2s;
}

div.login {
    grid-column-start: center1;
    grid-column-end: center2;
    grid-row-start: divider;
    grid-row-end: fourth-line;
    justify-self: center;
    align-self: center;
    place-self: center;
    transition: 2s;
}


div.home{
    margin-top: 0rem;
    text-align: center;
    color: white;
    display: grid;
    grid-template-columns: [first] 25% [center1] auto [center2] 25% [end];
    grid-template-rows: [row1-start] 20% [row1-end] 200px [third-line] 100px [divider] 200px [fourth-line] auto [last-line];
}

div.signup:hover{


}

div.login:hover{

}



h3{
    font-size: 60px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    grid-column-start: center1;
    grid-column-end: center2;
    grid-row-start: third-line;
    grid-row-end: divider;
    justify-self: center;
    align-self: center;
    place-self: center;
}

h5{
    font-size: 30px;
    padding-bottom: 20px;
}

button{
    padding: 14px 40px;
}
