
h1{
  font-size: 120px;
  text-align: center;
  color: #2196f3;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

main{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-image: url(/images/water-1545518_1920.jpg);
}

.btn{
  text-align: center;
}

